.dateTimeWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backToAppointments {
  color: black;
  margin-bottom: 30px;
  text-decoration: none;
  background: rgb(232, 232, 232);
  padding: 8px;
  border-radius: 5px;
}
